.anti-hero-form {
    min-width: 500px;
    max-width: 800px;
    width: 100%;
  }

.example-full-width {
  width: 100%;
}

.form-card {
    min-width: 500px;
    max-width: 800px;
    margin:auto;
}

.button-group {  
    margin-bottom: 15px;
    button {
        margin-right: 10px;
        float: right;
    }
}