label {
    font-weight: bold;
    padding-bottom: .5rem;
    padding-top: 1rem;
    display: inline-block;
  }
  
  button {
    max-width: 300px;
  }
  
  form {
    padding-top: 1rem;
  }
  
  label {
    display: block;
    margin: .5em 0;
    font-weight: bold;
  }
  